APP_ENV=development
DISCORD_BOT_TOKEN=MTUzNjk4NDIxMjQ1ODk2Mjk1NA.Gjbxdy.n2LuRhl9afSXZx1rdMfIUv4ZRIlna34eM44kj
OPENAI_API_KEY=
DATABASE_URL=sqlite:///./goal_referee.db
DISCORD_GUILD_ID=
ALLOWED_CHANNEL_IDS=project-room
RETENTION_HOURS=24
